<link rel="stylesheet" href="/assets//css/style.css">
<div class ="image-gallery">

      <div class="box"><a href="https://johnnie-nguyen.github.io/design/portfolio/GenerativePavilion" title="GSP">
        <img src="/img/GSP.png " alt="GSP"  class="img-gallery" />
      </a></div>

      <div class="box"><a href="https://johnnie-nguyen.github.io/design/portfolio/GenerativePavilion" title="GSP">
        <img src="/img/RFS.png " alt="GSP"  class="img-gallery" />
      </a></div>

      <div class="box"><a href="https://johnnie-nguyen.github.io/design/portfolio/GenerativePavilion" title="GSP">
        <img src="/img/RMH.png " alt="GSP"  class="img-gallery" />
      </a></div>
      <div class="box"><a href="https://johnnie-nguyen.github.io/design/portfolio/GenerativePavilion" title="GSP">
        <img src="/img/ACV2.png " alt="GSP"  class="img-gallery" />
      </a></div>


 </div>
 
